@model crum.hqbbq.web.ViewModels.SendMsgViewModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    
    
    <div class="columns">
        <div class="column is-half-desktop is-offset-one-quarter-desktop">
            <h2 class="title">@ViewData["Title"]</h2>

            @Html.Raw(ViewBag.Feedback)

            <p>
                We always love to hear from our customers and want to know what you like about our food or what we could do different. Have a favorite dish? Wish we had something you don't see? Let us know!
            </p>
            
            <form asp-controller="Contact" asp-action="SendMsg" method="post">
                <div class="field">
                    <label asp-for="Name" class="label">Name:</label>
                    <p class="control">
                        <input asp-for="Name" class="input">
                    </p>
                </div>
                <div class="field">
                    <label asp-for="Email" class="label">E-mail:</label>
                        <p class="control has-icons-left">
                            <input asp-for="Email" class="input">
                            <span class="icon is-small is-left"><i class="fa fa-envelope"></i></span>
                        </p>
                </div>
                <div class="field">
                    <label asp-for="Message" class="label">Message</label>
                    <p class="control">
                        <textarea asp-for="Message" class="textarea" placeholder="Textarea"></textarea>
                    </p>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <button class="button">Submit</button>
                    </p>
                    <p class="control">
                        <button class="button is-link">Cancel</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
