﻿@model crum.hqbbq.web.ViewModels.CreateMenuItemViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Add Menu Item";
}

<div class="container">
    <div class="columns is-desktop">
        <div class="column is-half-desktop is-offset-one-quarter-desktop">
            <h2 class="title">@ViewData["Title"]</h2>

            <form asp-controller="Menu" asp-action="Add" method="post">
                <div class="field">
                    <label asp-for="Name" class="label">Name:</label>
                    <p class="control">
                        <input asp-for="Name" class="input">
                    </p>
                </div>
                <div class="field">
                    <label asp-for="Price" class="label">Price:</label>
                    <p class="control">
                        <input asp-for="Price" class="input">
                    </p>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <button class="button is-success">Submit</button>
                    </p>
                    <p class="control">
                        <button class="button is-link">Cancel</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
