@model IEnumerable<crum.hqbbq.web.Models.MenuItem>

@{
    ViewData["Title"] = "Menu";
}

<div class="container">
    
    <div class="columns is-desktop">
        <div class="column is-half-desktop is-offset-one-quarter-desktop">
            <h2 class="title">@ViewData["Title"]</h2>
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Price)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.Name)</td>
                            <td class="has-text-right">@Html.DisplayFor(m => item.Price)</td>
                            <td class="has-text-centered">
                                <a asp-action="Edit" asp-route-id="@item.ID" class="button is-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="button is-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="has-text-centered"><a asp-action="Add" class="button is-success">Add Menu Item</a></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
