﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HQ BBQ</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/css/bulma.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/bulma.css" />
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <section class="section">
        <!--Header Section-->
        <div class="hero">
            <div class="hero-head">
                <img class="logo" src="~/images/hqbbq_logo.jpg" alt="HQ BBQ Logo" />
            </div>
            <div class="hero-foot">
                <!-- Navigation goes here -->
                <nav id="nav" class="tabs is-centered">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">About</a></li>
                        <li><a asp-controller="Menu" asp-action="Index">Menu</a></li>
                        <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--End Navigation-->
        <!--End Header-->
        <!--Body Section rendered from the view-->
        @RenderBody()
    </section>
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-half-desktop is-offset-one-quarter-desktop">
                    <div class="content has-text-centered">
                        <p>
                            <strong>HQ BBQ Website</strong> by <a href="#">Nathan Crum</a>. The source code is licensed
                            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
                        </p>
                        <p>
                            <a class="icon" href="https://github.com/jgthms/bulma">
                                <i class="fa fa-github"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("scripts", required: false)
</body>
</html>
